
#skills img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, filter 0.3s ease;
}

#skills img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #343a40;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

footer {
    background: #f8f9fa;
    color: #6c757d;
    padding: 10px 0;
}

#skills h2 {
    font-size: 2rem;
    color: #343a40;
}

#skills .row {
    margin-bottom: 30px;
}


#dataviz img {
    width: 150px;        
    height: 150px;       
    object-fit: cover;   
    border-radius: 50%;  
    background-color: #f8f9fa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, filter 0.3s ease;
}

#dataviz img:hover {
    transform: scale(1.1);   
    filter: brightness(1.2);  
}

#dataviz .row {
    margin-bottom: 30px;
}


#python-skills img {
    width: 150px;        
    height: 150px;       
    object-fit: cover;   
    border-radius: 50%; 
    background-color: #f8f9fa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

#python-skills img:hover {
    transform: scale(1.1);   
    filter: brightness(1.2);  
}

#python-skills .row {
    margin-bottom: 30px;
}